In [1]:
import pandas as pd
from IPython.display import display

df = pd.read_csv("transactions.csv")

display(df.head())

   Transaction ID  User ID          Item Name  Quantity  Value (USD)   Status
0               1     1001         Smartphone         1       799.99  success
1               2     1002         Headphones         2       399.98  success
2               3     1003             Laptop         1       999.99  success
3               4     1004  Bluetooth Speaker         1        79.99  success
4               5     1005         Smartwatch         1       299.99  pending

In [4]:
import subprocess

# Nama file SQL yang berisi perintah untuk menambahkan data pelanggan
sql_file = 'customers.sql'

# Command untuk menjalankan skrip SQL di MySQL
mysql_command = f'mysql -u root -p < {sql_file}'

try:
    # Menjalankan command menggunakan subprocess
    subprocess.run(mysql_command, shell=True, check=True)
    print("Data pelanggan berhasil ditambahkan ke dalam database.")
except subprocess.CalledProcessError as e:
    print("Terjadi kesalahan saat menjalankan perintah SQL:", str(e))

Terjadi kesalahan saat menjalankan perintah SQL: Command 'mysql -u root -p < customers.sql' returned non-zero exit status 1.

In [3]:

# Fungsi untuk membaca isi file SQL
def read_sql_file(file_path):
    try:
        with open(file_path, 'r') as file:
            sql_commands = file.read()
        return sql_commands
    except Exception as e:
        print("Terjadi kesalahan saat membaca file SQL:", str(e))
        return None

# Fungsi untuk menjalankan perintah SQL
def execute_sql_commands(sql_commands, host, user, password, database):
    try:
        # Membuat koneksi ke database MySQL
        conn = pymysql.connect(host=host, user=user, password=password, database=database)
        cursor = conn.cursor()

        # Memisahkan perintah SQL menjadi perintah terpisah
        commands = sql_commands.split(';')

        # Menjalankan setiap perintah SQL
        for command in commands:
            if command.strip() != '':
                cursor.execute(command)

        # Commit perubahan dan tutup koneksi
        conn.commit()
        conn.close()
        print("Data pelanggan berhasil ditambahkan ke dalam database.")
    except Exception as e:
        print("Terjadi kesalahan saat mengeksekusi perintah SQL:", str(e))

# Path file SQL
sql_file_path = 'customers.sql'

# Koneksi ke database MySQL
host = 'localhost'
user = 'root'
password = 'password'
database = 'nama_database'

# Baca isi file SQL
sql_commands = read_sql_file(sql_file_path)

# Jalankan perintah SQL untuk menambahkan data pelanggan ke dalam database MySQL
if sql_commands is not None:
    execute_sql_commands(sql_commands, host, user, password, database)

Terjadi kesalahan saat mengeksekusi perintah SQL: (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] No connection could be made because the target machine actively refused it)")