In [2]:
import pandas as pd

# Membaca data survei dari file CSV
data_survey = pd.read_csv('C:/Users/hello/OneDrive/kampus-merdeka_data-engineer/18_Data Engineering in The Cloud/Pratikum/survey.csv')

# Menampilkan data survei
data_survey

,name,age,favorite_front_end,favorite_back_end,salary_per_year_in_USD,company_type
0,John Doe,19,JavaScript,Node.js,26000 - 40000,software house
1,Jane Smith,31-40,React,Java,more than 60000,fintech
2,Alice Johnson,17-20,HTML/CSS,Python,10000 - 25000,freelance
3,Bob Williams,26-30,Angular,PHP,41000 - 60000,software house
4,Emily Davis,21-25,-,C#,10000 - 25000,edutech
...,...,...,...,...,...,...
74,Liam Harris,31-40,HTML/CSS,PHP,more than 60000,software house
75,Olivia Robinson,17-20,React,Node.js,26000 - 40000,freelance
76,Noah Rodriguez,21-25,Vue.js,Python,41000 - 60000,software house
77,Emma Lee,26-30,-,Java,10000 - 25000,government
78,Aiden Martinez,31-40,Angular,C#,more than 60000,fintech

In [3]:
# Proses Transformasi
def transformasi_data(data_survey):
    # Membersihkan data dari duplikat
    data_survey = data_survey.drop_duplicates()
    
    # Membersihkan data dari baris yang memiliki nilai kosong (NaN)
    data_survey = data_survey.dropna()
    
    return data_survey

In [4]:
# Proses Ekstraksi, Transformasi, dan Load (ETL)
def pipeline_ETL(data_survey):
    # Ekstraksi
    print("Ekstraksi data selesai.")

In [5]:
    # Transformasi
    print("Memulai proses transformasi data...")
    data_survey = transformasi_data(data_survey)
    print("Proses transformasi data selesai.")

Memulai proses transformasi data...
Proses transformasi data selesai.

In [7]:
# Jalankan pipeline ETL
data_cleaned = pipeline_ETL(data_survey)

# Tampilkan data setelah proses transformasi
print("Data setelah proses transformasi:")
data_cleaned

Ekstraksi data selesai.
Data setelah proses transformasi: