In [4]:
import pandas as pd
from IPython.display import display

df = pd.read_csv("transactions.csv")

display(df.head())

   Transaction ID  User ID          Item Name  Quantity  Value (USD)   Status
0               1     1001         Smartphone         1       799.99  success
1               2     1002         Headphones         2       399.98  success
2               3     1003             Laptop         1       999.99  success
3               4     1004  Bluetooth Speaker         1        79.99  success
4               5     1005         Smartwatch         1       299.99  pending